header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  
  body {
    background-color: beige;
    margin : 0;
  }
  
  nav > ul {
    list-style: none;
    padding: 20px;
  }
  
  main > form > div > h3 {
    margin-bottom: 1px;
    margin-top: 0px;
    text-decoration: underline;
  }
  
  main > form > div {
    margin-bottom: 15px;
  }
  
  main > form > div > input {
    border-radius: 5px;
    width: 300px; 
    padding: 10px;
    font-size: medium;
  }
  
  form {
      margin-left: 11cm;
      font-size: 25px;
  }
  
  select {
    width: 250px; 
    padding: 9px;
    font-size: medium;
    border-radius: 5px;
    margin: 0px;
  }
  
  input[type="button"] {
    font-size: 30px;
    padding: 5px;
    margin-left: 350px;
  }
  
  input[type="number"] {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    margin-bottom: 5px;
    
  }
  
    .logo > img {
      vertical-align: middle;
      width: 250px; 
  }
  
  .logo > div {
      display: inline-block;
      font-size: 25px;
      font-family: Georgia, 'Times New Roman', Times, serif
      
  }
  
  
  